<h1 mat-dialog-title>Agregar un evento</h1>
<div mat-dialog-content>
  
    <div id="myCarousel" class="carousel slide" data-ride="carousel" >
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
          <div class="item" *ngFor="let previa of previsualizacion; let i = index"
          [ngClass]="{'active': i == 0 }" >
            <img [src]="previa" class="d-block w-100">
          </div>
      </div>
    
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <br>
    <input style="margin-top: 10px; margin-bottom: 15px;" multiple accept=".jpg,.jpeg,.png,.svg" type="file" (change)="setFiles($event)"/>
    <br>
    <mat-form-field style="width: 100%;">
      <p>Titulo <input  matInput [(ngModel)]="event.title" style="margin-top: 10px; margin-bottom: 15px;"></p>
    </mat-form-field>
    <br>
    <mat-form-field style="width: 100%;">
      <p>Descripcion <textarea  matInput [(ngModel)]="event.description" style="margin-top: 10px; margin-bottom: 15px;"></textarea></p>
    </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="submit()">Cargar</button>
</div>