<p>
    <i class="pe-7s-plus" (click)="openDialog()" style="font-size: 30px;"></i> 
</p>

<div class="container">
    <div class="col-lg-10">
        <div class="row" style="margin-left: 5%;">
            <!-- <a><img class="card-img-top" src="./assets/img/angular.jpg" alt="Card image cap"></a> -->
            <div *ngFor="let presentation of list_cards" class="col-sm-12 col-md-12 col-lg-4">
                <mat-card class="example-card" style="margin-top: 15px;">
                    <div class="module line-clamp">
                        <mat-card-title class="titulos">{{presentation.title}}</mat-card-title>
                    </div>
                    <mat-card-actions>
                        <button mat-button (click)="editEvent(presentation)">Editar</button>
                        <button mat-button (click)="deleteEvent(presentation)">Eliminar</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>