<h1 mat-dialog-title>Editar</h1>
<div mat-dialog-content>
    <img [src]="previsualizacion" class="iconoEquipo">
    <input style="margin-top: 10px; margin-bottom: 15px;" accept=".jpg,.jpeg,.png,.svg" type="file" (change)="capturarFile($event)"/>
    <br>
    <mat-form-field style="width: 100%;">
      <p>Nombres <input  matInput [(ngModel)]="member.team_name" style="margin-top: 10px; margin-bottom: 15px;"></p>
    </mat-form-field>
    <br>
    <mat-form-field style="width: 100%;">
      <p>Telefonos<input  matInput [(ngModel)]="member.team_contact" style="margin-top: 10px; margin-bottom: 15px;"></p>
    </mat-form-field>
    <br>
    <mat-form-field style="width: 100%;">
      <p>Correo<input  matInput [(ngModel)]="member.team_email" style="margin-top: 10px; margin-bottom: 15px;"></p>
    </mat-form-field>
    <br>
    <mat-form-field style="width: 100%;">
      <p>Cargo<input  matInput [(ngModel)]="member.team_position" style="margin-top: 10px; margin-bottom: 15px;"></p>
    </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="editMember()">Cargar</button>
</div>