@media only screen and (max-width: 2000px)  and (min-width: 800px) {

    .container{
        display: grid;
        grid-template-columns: repeat(2, minmax(25rem, 1fr));
        gap: 1em;
        grid-template-rows: minmax(15px, auto);
    }
}
  
@media only screen and (max-width: 800px) { 

    .container{
        display: grid;
        grid-template-columns: repeat(1, minmax(25rem, 1fr));
        gap: 1em;
        grid-template-rows: minmax(15px, auto);
    }
}

.container::before{
    display: none;
}

.row-w-90 {
    max-width: 90% !important;
    margin: 0 auto;
}
.iconoEquipo {
    width: 115px;
    height: 115px;
    border-radius: 50%;
}
.ul-equipo {
    list-style: none;
    margin-bottom: 60px;
}

.nombreEquipo {
    font-family: "Poppins";
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 12px;
  }
.numeroContacto {
    font-family: "Poppins";
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 12px;
}
.emailContacto {
font-family: "Poppins";
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
    font-size: 17px;
    margin-bottom: 12px;
}
.correoContacto {
    font-family: "Poppins";
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
    font-size: 22px;
    margin: 0px 0px 0px !important;
}
.iconContacto {
    margin-top: 2rem;
    width: 50%;
}

.tituloContacto {
    /* background-color: rgb(28, 169, 166); */
    background: rgb(174,134,37);
    background: linear-gradient(90deg, rgba(174,134,37,1) 0%, rgba(247,239,138,1) 33%, rgba(210,172,71,1) 81%);
    font-family: "Poppins";
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    -webkit-text-stroke: 0.9px black;
    font-size: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 8px;
}

.imagen{
    float: left !important;
}

.datos{
    float: left !important;
}

