<h1 mat-dialog-title>Agregar un patrocinador</h1>
<div mat-dialog-content>
    <div>
        <img [src]="previsualizacion" class="iconoEquipo">
    </div>
    <br>
    <input style="margin-top: 10px; margin-bottom: 15px;" accept=".jpg,.jpeg,.png,.svg" type="file" (change)="capturarFile($event)"/>
    <br>
    <mat-form-field style="width: 100%;">
      <p>Url <input  matInput [(ngModel)]="sponsor.sponsor_url" style="margin-top: 10px; margin-bottom: 15px;"></p>
    </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-button (click)="submit()">Cargar</button>
</div>