.formularioGeneral {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(20, 18, 13);
    /* background: rgb(174,134,37);
    background: linear-gradient(180deg, rgba(174,134,37,1) 0%, rgba(247,239,138,1) 15%, rgba(210,172,71,1) 81%); */
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
  }

  .text-registro {
    font-family: "Poppins";
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    color: #ffffff;
  }

  .text-rol {
    font-family: "Poppins";
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    color: #000000;
  }

  .section-init {
    position: relative;
    top: -100px;
    /* min-height: 80vh; */
  }

  .row-w-100 {
    max-width: 100% !important;
    margin: 0 auto;
  }

  .row-w-60 {
    max-width: 55% !important;
    margin: 0 auto;
    margin-bottom: 5%;
  }

  .section-contac {
    margin-top: 55px;
  }


  .botonRegistrar {
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-color: #3792A7;
    border: solid #000000 1px;
    color: #ffffff;
    margin-top: 2rem;
    width: 180px;
    height: 50px;
    font-family: "Poppins";
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    margin: 0 auto;
  }

  @media only screen and (max-width: 2000px)  and (min-width: 800px) {

    .izqForm{
      float: left;
      width: 47%;
    }
  
    .derForm{
      float: left;
      margin-left: 5%;
      width: 47%;
    }

  }

  @media only screen and (max-width: 800px) { 

    .izqForm{
      width: 100%;
    }
  
    .derForm{
      width: 100%;
    }

  }

  
  

  .text-registro{
    margin-top: 2% !important;
  }

  .bordeado{
    max-height: 50px;
    background: rgb(174,134,37);
    background: linear-gradient(180deg, rgba(174,134,37,1) 0%, rgba(247,239,138,1) 33%, rgba(210,172,71,1) 81%);
  }

  .card-form {
    padding: 2rem;
  }

  .text-info {
    font-family: "Poppins";
    font-weight: 300;
    font-size: 18px;
    color: #ffffff;
  }
  .container{
    max-width: 1500px;
  }

  img{
    max-width: 100%;
  }

  .registro{
    display: grid;
    grid-template-columns: 50% 50%;
  }