<h2>Eventos</h2>


<div>
    Total: {{events.length}}
</div>


<div *ngFor="let event of events">
    <h2>{{event?.title || 'N/D'}}</h2>
    <p>{{event?.description || 'N/D'}}</p>
    <button (click)="updateEvent(event.id)">Actualizar</button>
    <button (click)="deleteEvent(event.id)">Eliminar</button>
</div>

<div>
    {{files}}
</div>

<div style="margin-top: 25px;">
    <input style="margin-top: 10px" multiple type="file" (change)="setFiles($event)"/>
    <button (click)="submit()" style="margin-top: 10px">Crear evento</button>
    <button (click)="deleteAllEvents()" style="margin-top: 10px">Eliminar Todos</button>
</div>
