@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins-Bold.woff2") format("woff2"),
    url("../../assets/fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nobile";
  src: url("../../assets/fonts/Nobile-Medium.woff2") format("woff2"),
    url("../../assets/fonts/Nobile-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nobile";
  src: url("../../assets/fonts/Nobile-Bold.woff2") format("woff2"),
    url("../../assets/fonts/Nobile-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins-Light.woff2") format("woff2"),
    url("../../assets/fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsR";
  src: url("../../assets/fonts/Poppins-Regular.woff2") format("woff2"),
    url("../../assets/fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.card-product {
  height: 65vh;
}
.li-menu {
  margin: 0px !important;
  cursor: pointer;
}
.row-w-100 {
  max-width: 100% !important;
  margin: 0 auto;
}
.row-w-60 {
  max-width: 60% !important;
  margin: 0 auto;
}
.row-w-80 {
  max-width: 80% !important;
  margin: 0 auto;
}
.row-w-90 {
  max-width: 90% !important;
  margin: 0 auto;
}
.navbar .navbar-nav > li > a {
  margin-top: 0px !important;
  padding-top: 3rem;
}
.imgNav {
  margin-top: 1.5rem !important;
  width: 50% !important;
}
.textInicio {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  color: #7d7d82;
  font-size: 18px;
}

.opc:hover {
  color: #ffc009;
}

.opcMenu:hover {
  background-color: rgb(28, 169, 166);
  color: #ffffff;
}

.row-init {
  min-height: 80vh;
}

.nav-bar {
  clear: both;
  clear: left;
}
.card-img-fondo {
  padding: 0%;
  background-image: url("../../assets/img/Imagenes-06.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 120vh;
}
.imgLogo {
  margin-top: 10rem;
  width: 40%;
}
.section-init {
  position: relative;
  top: -100px;
  /* min-height: 80vh; */
}
.col-init {
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 4rem;
  margin: 0 auto;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 5rem;
}
.col-init-btn {
  padding-left: 5rem;
  padding-right: 5rem;
}
.logoLateral {
  margin-top: 15rem;
  right: 5rem;
  max-width: 145%;
  position: absolute;
  margin-bottom: 13%;
  filter: drop-shadow(0px 0px 10px #000000);
}
.logoServicios {
  margin-top: 0rem;
  width: 100%;
  margin: 0 auto;
}
.botonesInicio {
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 0px solid #7d7d82;
  background-color: black;
  color: #ffff;
  height: 4.3rem;
  font-family: "Poppins";
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  margin-bottom: 1.8rem;
}
.botonesInicio:hover {
  background-color: #7d7d82;
}
.rectangulo {
  margin-top: 4rem;
  margin: 0 auto;
  width: 400px;
  height: 120px;
  position: relative;
  background: rgb(28, 169, 166);
}
.redesRectangulo {
  margin-top: 5rem;
  width: 5rem;
}
.redesRectanguloFacebook {
  margin-top: 34px;
  width: 20px;
}
.redesRectanguloTwtitter {
  margin-top: 38px;
  width: 45px;
}
.redesRectanguloInstagram {
  margin-top: 36px;
  width: 40px;
}
.rectangulo2 {
  /* background: rgb(28, 169, 166); */
  background: rgb(174,134,37);
  background: linear-gradient(90deg, rgba(174,134,37,1) 0%, rgba(247,239,138,1) 33%, rgba(210,172,71,1) 81%);
}
.rectangulo3 {
  width: 50rem;
  height: 8rem;
  position: relative;
  background: rgb(28, 169, 166);
}
.quienesSomos {
  background-image: url("../../assets/img/Elementos-08.svg");
  margin-top: 50px !important;
  background-size: 35%;
  background-position: top left;
  background-repeat: no-repeat;
}
.quienesSomos2 {
  background-image: url("../../assets/img/Elementos-08.svg");
  margin-top: 0rem !important;
  background-size: 35%;
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.h4QuienesSomos {
  -webkit-text-stroke: 0.9px black;
  color: #ffffff;
  font-family: "Nobile";
  font-weight: bold;
  font-style: normal;
  font-size: 35px;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}
.textoInicial {
  margin-top: 3%;
  margin-right: 20%;
  max-width: 70%;
}
.rectanguloAzulfb {
  margin-left: 14rem;
  max-width: 100%;
  margin: 0 auto;
}
.rowContactos {
  max-width: 100%;
  margin-top: 3rem !important;
}
.col-vision2 {
  height: 50vh;
  width: 50vh;
}
.borderPoliticas {
  max-width: 100%;
  margin-left: 7rem;
}
.borderPoliticas2 {
  margin-left: 9rem;
}
.nosotrosFooter {
  margin-left: 7rem;
}
.bordesNuestroEquipo {
  margin-top: 8rem;
}
.iconoEquipo {
  width: 115px;
  height: 115px;
  border-radius: 50%;
}
.ul-equipo {
  list-style: none;
  margin-bottom: 60px;
}
.datosEquipo {
  padding: 0px !important;
  margin-top: 4rem;
}
.imagenEquipo {
  margin-left: 3.5rem;
  margin-top: 3rem;
  width: 22rem;
}
.contactosRedes {
  max-width: 100%;
  margin: 0 auto;
}
.direcciones2 {
  padding: none;
  margin-top: 0px !important;
}
.direcciones {
  padding: none;
  margin-top: 0px !important;
}
.subtitutuloServicio3 {
  font-family: "Nobile";
  font-weight: bold;
  font-style: normal;
  font-size: 4.3rem;
  color: black;
  margin-right: 2rem;
  margin-top: 2.5rem;
}
.spaceSubtituloServicioDeIngenieria {
  margin-top: 5rem;
}
.spaceSubtituloServicioDeAplicaciones {
  margin-top: 14rem;
}
.btnleermas {
  height: 30rem;
}
.serviciosRow {
  padding: 40px;
  /* border: #000000 solid 2px; */
}
.serviciosRow-1 {
  padding-top: 160px;
  text-align: right;
}
.serviciosRow-2 {
  padding-top: 5px;
  text-align: left;
}
.serviciosRow-3 {
  padding-top: 110px;
  text-align: right;
}
.serviciosContenidoRow {
  margin-top: 15rem !important;
  max-width: 100%;
}
.imgProd {
  margin-left: 8.5rem;
  width: 400px;
}
.modalProd {
  max-width: 540px;
}
.productos {
  margin-top: 25rem !important;
  max-width: 100%;
}
.spacecolbtnSearch {
  margin-top: 2rem;
}
.spacebtnSearch {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.navProductos {
  margin: 0 auto;
  padding-left: 4rem;
  margin-top: 70px;
}
.espaciosSearch {
  padding: 5rem;
  padding-left: 2rem !important;
}
.diseñoQuienes {
  margin-top: 10%;
  border-right: solid 2px #55a9a6;
}
.textRepresentaciones {
  margin-top: 15rem;
  margin-left: 5rem;
}
.col-mision {
  height: 100vh;
  width: 50vh;
}
.col-vision {
  height: 80vh;
  width: 50vh;
}
.col-valores {
  height: 65vh;
}
.col-padding {
  padding-left: 8rem;
  padding-right: 8rem;
}
.img-mision {
  width: 30%;
}
.container-mision {
  max-width: 90%;
  margin-left: 7% !important;
}
.p-title-mision {
  color: #fff;
  position: relative;
  top: 70px !important;
  margin-left: 5rem;
  font-size: 2.6rem;
  font-family: "Nobile";
  font-weight: bold;
  font-style: normal;
}
.p-mision {
  color: #fff;
  margin-top: 80px;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: normal;
  font-style: normal;
}
.hr-mision {
  max-width: 15%;
  border: 1px solid #c1c1c1;
  background: #c1c1c1;
}
.search {
  margin-top: 5rem;
  width: 100%;
  padding: 4rem;
  border-radius: 113px 113px 113px 113px;
  -moz-border-radius: 113px 113px 113px 113px;
  -webkit-border-radius: 113px 113px 113px 113px;
  background-color: rgb(28, 169, 166);
  -webkit-box-shadow: 0px 0px 32px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 32px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 32px -5px rgba(0, 0, 0, 0.75);
}
.input-search {
  border-radius: 50px;
}
.fondoAzul {
  min-height: 40vh;
  /* background-color: rgb(28, 169, 166); */
  background: rgb(174,134,37);
  background: linear-gradient(180deg, rgba(174,134,37,1) 0%, rgba(247,239,138,1) 33%, rgba(210,172,71,1) 81%);
  border-radius: 126px 0px 119px 0px;
  -moz-border-radius: 126px 0px 119px 0px;
  -webkit-border-radius: 126px 0px 119px 0px;
  border: 0px solid black;
  margin: 2rem;
  padding: 0px !important;
  -webkit-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
}
.fondoBlanco {
  min-height: 40vh;
  position: relative;
  top: 3rem;
  right: 3rem;
  background-color: rgb(20, 18, 13);
  border-radius: 126px 0px 91px 0px;
  -moz-border-radius: 126px 0px 91px 0px;
  -webkit-border-radius: 126px 0px 91px 0px;
  -webkit-box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
  box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
  padding-bottom: 3rem !important;
  margin-bottom: 5rem !important;
  margin-top: 5rem !important;
}
.circulo {
  width: 120px !important;
  z-index: 2000;
  position: absolute;
  top: 30px;
  left: -20px;
  -webkit-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 10px -10px rgba(0, 0, 0, 0.6);
  border-radius: 100px;
}

.fondoAzul2 {
  height: 75.5vh;
  background-color: rgb(28, 169, 166);
  border-radius: 126px 0px 119px 0px;
  -moz-border-radius: 126px 0px 119px 0px;
  -webkit-border-radius: 126px 0px 119px 0px;
  border: 0px solid black;
  margin-top: 5rem;
  padding: 0px !important;
  -webkit-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
}
.fondoBlanco2 {
  height: 73vh;
  margin-top: 3rem;
  margin-right: 3rem;
  background-color: rgb(255, 255, 255);
  border-radius: 126px 0px 91px 0px;
  -moz-border-radius: 126px 0px 91px 0px;
  -webkit-border-radius: 126px 0px 91px 0px;
  padding: 0px !important;
  -webkit-box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
  box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
}
.fondoAzul3 {
  height: 57vh;
  background-color: rgb(28, 169, 166);
  border-radius: 126px 0px 119px 0px;
  -moz-border-radius: 126px 0px 119px 0px;
  -webkit-border-radius: 126px 0px 119px 0px;
  border: 0px solid black;
  margin-top: 5rem;
  padding: 0px !important;
  -webkit-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
}
.fondoBlanco3 {
  height: 55vh;
  margin-top: 3rem;
  margin-right: 3rem;
  background-color: rgb(255, 255, 255);
  border-radius: 126px 0px 91px 0px;
  -moz-border-radius: 126px 0px 91px 0px;
  -webkit-border-radius: 126px 0px 91px 0px;
  padding: 0px !important;
  -webkit-box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
  box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
}
.menu {
  color: #7d7d82;
  font-family: "Poppins";
  font-weight: bold;
  font-style: normal;
  font-size: 13px;
}
.input-group {
  margin-bottom: 10px;
}
.p-0 {
  padding: 0px !important;
}
.img-company {
  width: 130px;
}
.div-company {
  display: flex;
  justify-content: center;
  min-height: 140px !important;
  padding-top: 20px;
}
.div-flex {
  display: flex;
  justify-content: center;
  justify-items: center;
}
.menu2 {
  cursor: pointer;
  color: black;
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-size: 14px;
  border-right: solid rgb(28, 169, 166) 1px;
  border-left: solid rgb(28, 169, 166) 1px;
  border-top: solid rgb(28, 169, 166) 1px;
  border-bottom: solid rgb(28, 169, 166) 1px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  vertical-align: middle;
  padding: 1rem;
  text-decoration: none;
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
}
.menu2 a {
  text-decoration: none !important;
}
.menu2:hover {
  border-style: none;
  background-color: rgb(28, 169, 166);
  color: white !important;
}

.nav-tabs {
  border-style: none;
}
.nav-tabs > li.active > a {
  border-style: none;
  background-color: rgb(28, 169, 166);
  color: black;
}
.menu-active {
  border-style: none;
  background-color: rgb(28, 169, 166);
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
  font-size: 14px;
  font-weight: bold !important;
  color: white;
  overflow-wrap: break-word;
}
.menu-active > a {
  color: white;
}
.producto {
  font-family: "Nobile";
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: black;
}
.productoTexto {
  margin: 3rem;
  font-family: "Nobile";
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  color: #7d7d82;
}
.prodcutContainer {
  -webkit-box-shadow: 0px 0px 32px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 32px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 32px -13px rgba(0, 0, 0, 0.75);
}
.btnTexto {
  background-color: rgb(28, 169, 166);
  color: #ffffff;
}
.empresas {
  margin-top: 10rem;
  margin-bottom: 10rem;
  width: 10%;
  margin-left: 3.5rem;
}
.row-service {
  margin-top: 110px;
  padding-bottom: 110px;
}
.titutuloServicio {
  font-family: "Nobile";
  font-weight: bold;
  font-style: normal;
  font-size: 39px;
  color: black;
}

.subtitutuloServicio {
  font-family: "Nobile";
  font-weight: bold;
  font-style: normal;
  font-size: 36px;
  color: black;
}
.textServicio {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  color: black;
  font-size: 16px;
}
.li-services {
  margin-top: 10px;
  list-style: none;
}
.subtitutuloServicio2 {
  font-family: "Nobile";
  font-weight: bold;
  font-style: normal;
  font-size: 4.3rem;
  color: black;
  margin-left: 4rem;
  margin-top: 2.5rem;
}
.botonServicio {
  border-radius: 110px 110px 110px 110px;
  -moz-border-radius: 110px 110px 110px 110px;
  -webkit-border-radius: 110px 110px 110px 110px;
  background-color: black;
  color: #ffffff;
  width: 158px;
  height: 58px;
  font-family: "Poppins";
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
}
.botonSearch {
  border-radius: 50px;
  -moz-border-radius: 110px 110px 110px 110px;
  -webkit-border-radius: 110px 110px 110px 110px;
  background-color: black;
  border: solid 1px black;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
}
.fa-s {
  color: rgb(28, 169, 166);
  font-size: 20px;
}
.input-group-addon {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.esquina {
  width: 270px !important;
  z-index: 2000;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.esquina-2 {
  width: 270px !important;
  z-index: 2000;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.esquina2 {
  width: 40vh !important;
  z-index: 2000;
  position: absolute;
  left: 38rem;
  top: 30rem;
}
.logoContactanos {
  width: 48px;
}
.textoContactanos {
  font-family: "PoppinsR";
  font-style: normal;
  font-size: 18px;
  color: rgb(255, 255, 255);
}
.section-contac {
  margin-top: 60px;
}
.row-contact {
  min-height: 73px;
}
.redesContactos {
  margin-top: 0rem;
  width: 20%;
  position: center;
}
.formulario {
  height: 5rem;
  /* margin-bottom: 30px; */
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  font-family: 'Poppins';
}
.formularioMensaje {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
.text-contactanos {
  font-family: "Poppins";
  font-weight: 300;
  font-style: normal;
  font-size: 25px;
  color: #ffffff;
  -webkit-text-stroke: 0.7px black;
}
.formularioGeneral {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: rgb(174,134,37);
  background: linear-gradient(90deg, rgba(174,134,37,1) 0%, rgba(247,239,138,1) 33%, rgba(210,172,71,1) 81%);
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
}
.botonContactos {
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background-color: black;
  border: solid #000000 1px;
  color: #ffffff;
  margin-top: 2rem;
  width: 180px;
  height: 50px;
  font-family: "Poppins";
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  margin: 0 auto;
}
.equipo {
  background-image: url("../../assets/img/FondoNuestroEquipo.jpg");
  margin-top: 80px;
  padding-top: 80px;
  margin-bottom: 80px;
  background-repeat: no-repeat;
  background-size: cover;
}

.nombreEquipo {
  font-family: "Poppins";
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 12px;
}
.numeroContacto {
  font-family: "Poppins";
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 12px;
}
.emailContacto {
  font-family: "Poppins";
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  font-size: 17px;
  margin-bottom: 12px;
}
.correoContacto {
  font-family: "Poppins";
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  font-size: 22px;
  margin: 0px 0px 0px !important;
}
.iconContacto {
  margin-top: 2rem;
  width: 50%;
}
.tituloContacto {
  /* background-color: rgb(28, 169, 166); */
  background: rgb(174,134,37);
  background: linear-gradient(90deg, rgba(174,134,37,1) 0%, rgba(247,239,138,1) 33%, rgba(210,172,71,1) 81%);
  font-family: "Poppins";
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  -webkit-text-stroke: 0.9px black;
  font-size: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 8px;
}
.fondoservicio {
  background-image: url("../../assets/img/FondoServicios.jpg");
  background-repeat: no-repeat;
  padding-top: 80px;
}
.circulo2 {
  width: 200px;
  height: 200px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.538);
  margin: 0 auto;
}
.mapa {
  background-image: url("../../assets/img/Elementos-41.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 120px;
}
.iconoMapa {
  width: 50%;
  margin-top: 5rem;
}
.div-content-map {
  padding-top: 70px;
}
.rectangulomapa {
  width: 80%;
  min-height: 230px;
  margin: 0 auto;
  /* background: rgb(28, 169, 166); */
  background: rgb(174,134,37);
  background: linear-gradient(90deg, rgba(174,134,37,1) 0%, rgba(247,239,138,1) 33%, rgba(210,172,71,1) 81%);
  border-radius: 13px 13px 13px 13px;
  -moz-border-radius: 13px 13px 13px 13px;
  -webkit-border-radius: 13px 13px 13px 13px;
}
.textoMapa {
  padding: 2.5rem;
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  color: #ffffff;
}
.esquinasuperiorMapa {
  width: 40vh !important;
  z-index: 2000;
  position: absolute;
  right: 30px;
  top: 40px;
}
.esquinaINFERIORMapa {
  width: 40vh !important;
  z-index: 2000;
  position: absolute;
  left: 30px;
  bottom: -20px;
}
.esquinaINFERIORQUIENES {
  width: 40vh !important;
  z-index: 2000;
  position: absolute;
  left: -10px;
  bottom: -25px;
}
.esquinaSUPERIORQUIENES {
  width: 40vh !important;
  z-index: 2000;
  position: absolute;
  right: -10px;
  top: -25px;
}
.fondofooter {
  background-color: black;
  padding-top: 50px;
}
.tituloFooter {
  font-family: "Poppins";
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  font-size: 20px;
}
.linea {
  background-color: #ffff;
  border: solid 1px rgb(255, 255, 255);
  width: 100px;
  margin: 0 auto;
  margin-top: 15px !important;

}
.textoFooter {
  font-family: "Poppins";
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
}
.fondo-nikola {
  max-width: 100%;
  margin: 0 auto;
  background-color: rgb(28, 169, 166);
}
.footerSubtitulos {
  font-family: "Poppins";
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  font-size: 15px;
  padding: 0.5rem;
}
.footerSubtitulos2 {
  font-family: "Poppins";
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  font-size: 15px;
  padding: 0.5rem;
}
.iconoFooter {
  margin: 0px !important;
  padding: 0px !important;
  width: 3rem;
}
.iconoFooter1 {
  margin: 0px !important;
  padding: 0px !important;
  width: 3rem;
}
.tituloQuienesSomos {
  font-family: "Nobile";
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  color: black;
}
.logoQuienesSomos {
  margin-top: 45px;
  margin-bottom: 45px;
  width: 70%;
}
.textoQuienesSomos {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  color: white;
  font-size: 17px;
}
.icon-bar {
  background-color: #606060;
}
.off-canvas-sidebar .navbar-collapse {
  top: 0px !important;
  margin: 0 !important;
  height: 100vh !important;
  display: block !important;
}
.navDimensiones {
  z-index: 999 !important;
  margin-bottom: 0%;
  background-color: transparent;
}
.navDimensiones2 {
  margin-top: 25px;
  margin-bottom: 0%;
}
.icon-bar {
  background: rgb(28, 169, 166);
}
.off-canvas-sidebar .navbar-collapse {
  top: 0px !important;
  margin: 0 !important;
  height: 100vh !important;
  display: block !important;
}
.logo-nikola {
  max-width: 10rem;
  color: #606060;
}
.bb {
  border: solid #000000 1px;
}
.bw {
  border: solid #ffffff 1px;
}
/* .quienesSomosDerecha {
  width: 100%;
  background-color: rgb(28, 169, 166);
  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
} */
.quienesSomosDerecha {
  width: 100%;
  background-color: rgb(28, 169, 166);
  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  padding: 2rem;
}
@media (max-width: 100%) {
  .menu {
    color: #fff;
    font-family: "Univers LT Std";
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
  }
}
@media (max-width: 1280px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  .serviciosRow-1 {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
  }
  .serviciosRow-2 {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
  }
  .serviciosRow-3 {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
  }
  .logoQuienesSomos {
    margin-bottom: 100px !important;
  }
  .tituloQuienesSomos {
    font-size: 24px;
    text-align: center !important;
  }
  .card-img-fondo {
    text-align: center !important;
    min-height: 100vh;
  }
  .col-init {
    text-align: center !important;
  }
  .imgLogo {
    width: 70%;
  }
  .logoLateral {
    max-width: 80% !important;
    margin: 0 auto;
    margin-top: 40px !important;
  }
  .diseñoQuienes {
    margin-top: 10%;
    border-right: solid 2px transparent !important;
  }
  /* .menu2 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    vertical-align: middle;
    padding: 1rem;
    text-decoration: none;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 15px !important;
    border-bottom-left-radius: 0px !important;
    margin: 1rem;
  } */
  .esquina {
    bottom: -20px;
  }
  .serviciosRow {
    text-align: center !important;
  }
  .logoServicios {
    margin-top: 0rem;
    width: 100%;
    margin: 0 auto !important;
  }
  .textoInicial {
    min-width: 100% !important;
  }
  .textInicio {
    font-family: "Poppins";
    font-weight: normal;
    font-style: normal;
    color: #7d7d82;
    font-size: 22px;
  }
  .logoLateral {
    max-width: 100%;
    position: relative;
    right: 0px;
    margin-bottom: 50px;
  }
  .borderPoliticas2 {
    margin-left: 15rem !important;
  }
  .col-mision {
    margin-left: 28rem !important;
    height: 90vh !important;
    width: 50vh;
  }
  .col-vision {
    top: 5rem;
    height: 50vh;
    width: 50vh;
    margin-left: 25rem !important;
  }
  .col-vision2 {
    top: 15rem !important;
    right: -8rem !important;
    height: 50vh;
    width: 50vh;
    margin-bottom: 15rem;
  }
  .fondoBlanco2 {
    width: 35vh !important;
    height: 48vh !important;
    margin-top: 3rem;
    margin-right: 3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 126px 0px 91px 0px;
    -moz-border-radius: 126px 0px 91px 0px;
    -webkit-border-radius: 126px 0px 91px 0px;
    -webkit-box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
    box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
    padding: 0px !important;
  }
  .fondoAzul2 {
    width: 39vh !important;
    height: 50vh !important;
    background-color: rgb(28, 169, 166);
    border-radius: 126px 0px 119px 0px;
    -moz-border-radius: 126px 0px 119px 0px;
    -webkit-border-radius: 126px 0px 119px 0px;
    border: 0px solid black;
    margin-top: 1rem !important;
    padding: 0px !important;
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
  }
  .fondoBlanco3 {
    width: 35vh !important;
    height: 37vh !important;
    margin-top: 3rem;
    margin-right: 3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 126px 0px 91px 0px;
    -moz-border-radius: 126px 0px 91px 0px;
    -webkit-border-radius: 126px 0px 91px 0px;
    -webkit-box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
    box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
    padding: 0px !important;
  }
  .fondoAzul3 {
    width: 39vh !important;
    height: 39vh !important;
    background-color: rgb(28, 169, 166);
    border-radius: 126px 0px 119px 0px;
    -moz-border-radius: 126px 0px 119px 0px;
    -webkit-border-radius: 126px 0px 119px 0px;
    border: 0px solid black;
    margin-top: 1rem !important;
    padding: 0px !important;
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
  }
  .espaciosSearch {
    padding: 2rem !important;
    padding-left: 0rem !important;
  }
  .brand .b-search input[type="text"] {
    width: 110% !important;
    height: 35px !important;
    border-color: #ffffff;
    border-radius: 113px 113px 113px 113px;
    -moz-border-radius: 113px 113px 113px 113px;
    -webkit-border-radius: 113px 113px 113px 113px;
  }
  .spacecolbtnSearch {
    margin-top: 0rem !important;
  }
  .spacebtnSearch {
    margin-top: 2rem !important;
    margin-bottom: 2rem;
  }
  .esquina2 {
    max-width: 30vh !important;
    z-index: 2000;
    position: absolute;
    left: 18rem !important;
    top: 22rem !important;
  }
  .datosEquipo {
    padding: 0px !important;
    margin-left: 15rem !important;
  }
  
  .mostrar5 {
    display: none;
  }
  .mostrar6 {
    text-align: justify;
  }
  
}
@media (max-width: 869px) {
  .card-img-fondo {
    min-height: 80vh;
  }
}
@media (max-width: 768px) {
  .serviciosRow-1 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  .esquinaINFERIORQUIENES {
    left: -10px;
    bottom: -25px;
  }
  
  .botonesInicio {
    margin-top: 20px;
  }
  .imgLogo {
    width: 90%;
  }
  .card-img-fondo {
    min-height: 60vh;
  }
  .diseñoQuienes {
    margin-top: 10%;
    border-right: solid 2px transparent !important;
  }
  .logoQuienesSomos {
    margin-bottom: 120px !important;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .card-img-fondo {
    min-height: 50vh;
  }
}
@media (min-width: 1295px) {
  .nav-bar {
    margin-top: 100px;
  }
}
@media (min-width: 1295px) {
  .nav-bar {
    margin-top: 100px;
  }
}
@media (max-width: 2304px) {
}
@media (max-width: 1280px) {
  
  .fondoBlanco2 {
    height: 85vh !important;
    margin-top: 3rem;
    margin-right: 3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 126px 0px 91px 0px;
    -moz-border-radius: 126px 0px 91px 0px;
    -webkit-border-radius: 126px 0px 91px 0px;
    padding: 0px !important;
    -webkit-box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
    box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
  }
  .fondoAzul2 {
    height: 88vh !important;
    background-color: rgb(28, 169, 166);
    border-radius: 126px 0px 119px 0px;
    -moz-border-radius: 126px 0px 119px 0px;
    -webkit-border-radius: 126px 0px 119px 0px;
    border: 0px solid black;
    margin-top: 5rem;
    padding: 0px !important;
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
  }
  .fondoBlanco3 {
    height: 60vh !important;
    margin-top: 3rem;
    margin-right: 3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 126px 0px 91px 0px;
    -moz-border-radius: 126px 0px 91px 0px;
    -webkit-border-radius: 126px 0px 91px 0px;
    padding: 0px !important;
    -webkit-box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
    box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
  }
  .fondoAzul3 {
    height: 63vh !important;
    background-color: rgb(28, 169, 166);
    border-radius: 126px 0px 119px 0px;
    -moz-border-radius: 126px 0px 119px 0px;
    -webkit-border-radius: 126px 0px 119px 0px;
    border: 0px solid black;
    margin-top: 5rem;
    padding: 0px !important;
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
  }
  .productos {
    margin-top: 0rem !important;
    max-width: 98% !important;
    margin-left: 1rem;
  }
  .empresas {
    margin-top: 1rem !important;
    margin-bottom: 2rem !important;
    width: 10%;
    margin-left: 3.5rem;
  }
  .mostrarServicio4 {
    display: none;
  }
  .mostrarServicio2 {
    display: none;
  }
  .bordesNuestroEquipo {
    margin-top: 8rem !important;
  }
}
@media (max-width: 1200px) {
  .borderPoliticas2 {
    margin-left: 5rem !important;
  }
  .fondoBlanco2 {
    width: 35vh !important;
    height: 48vh !important;
    margin-top: 3rem;
    margin-right: 3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 126px 0px 91px 0px;
    -moz-border-radius: 126px 0px 91px 0px;
    -webkit-border-radius: 126px 0px 91px 0px;
    -webkit-box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
    box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
    padding: 0px !important;
  }
  .fondoAzul2 {
    width: 39vh !important;
    height: 50vh !important;
    background-color: rgb(28, 169, 166);
    border-radius: 126px 0px 119px 0px;
    -moz-border-radius: 126px 0px 119px 0px;
    -webkit-border-radius: 126px 0px 119px 0px;
    border: 0px solid black;
    margin-top: 1rem !important;
    padding: 0px !important;
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
  }
  .fondoBlanco3 {
    width: 35vh !important;
    height: 37vh !important;
    margin-top: 3rem;
    margin-right: 3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 126px 0px 91px 0px;
    -moz-border-radius: 126px 0px 91px 0px;
    -webkit-border-radius: 126px 0px 91px 0px;
    -webkit-box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
    box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
    padding: 0px !important;
  }
  .fondoAzul3 {
    width: 39vh !important;
    height: 39vh !important;
    background-color: rgb(28, 169, 166);
    border-radius: 126px 0px 119px 0px;
    -moz-border-radius: 126px 0px 119px 0px;
    -webkit-border-radius: 126px 0px 119px 0px;
    border: 0px solid black;
    margin-top: 1rem !important;
    padding: 0px !important;
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
  }
  .espaciosSearch {
    padding: 3rem !important;
    padding-left: 0rem !important;
  }
  .brand .b-search input[type="text"] {
    width: 115% !important;
    height: 45px !important;
    border-color: #ffffff;
    border-radius: 113px 113px 113px 113px;
    -moz-border-radius: 113px 113px 113px 113px;
    -webkit-border-radius: 113px 113px 113px 113px;
  }
  .spacecolbtnSearch {
    margin-top: 0rem !important;
  }
  .spacebtnSearch {
    margin-top: 3rem !important;
    margin-bottom: 2rem;
  }
  .productos {
    margin-top: 0rem !important;
    max-width: 98% !important;
    margin-left: 1.3rem;
  }
  .empresas {
    margin-top: 1rem !important;
    margin-bottom: 2rem !important;
    width: 10%;
    margin-left: 3.5rem;
  }
  .mostrarServicio4 {
    display: none;
  }
  .mostrarServicio2 {
    display: none;
  }
  .esquina2 {
    max-width: 30vh !important;
    z-index: 2000;
    position: absolute;
    left: 35rem !important;
    top: 22rem !important;
  }
  .bordesNuestroEquipo {
    margin-top: 8rem !important;
  }
}
@media (max-width: 869px) {
  .textInicio {
    font-family: "Poppins";
    font-weight: normal;
    font-style: normal;
    color: #7d7d82;
    font-size: 22px;
  }
  .col-mision {
    height: 90vh !important;
    width: 50vh;
    margin-left: 15rem !important;
  }
  .col-vision {
    top: 2rem;
    height: 50vh;
    width: 50vh;
    margin-left: 22rem !important;
  }
  .col-vision2 {
    margin-left: 12rem !important;
    top: 0rem !important;
    right: -10rem !important;
    height: 50vh;
    width: 50vh;
    margin-bottom: 0rem;
    height: 50vh;
    width: 50vh;
  }
  .fondoAzul2 {
    height: 50vh !important;
    background-color: rgb(28, 169, 166);
    border-radius: 126px 0px 119px 0px;
    -moz-border-radius: 126px 0px 119px 0px;
    -webkit-border-radius: 126px 0px 119px 0px;
    border: 0px solid black;
    margin-top: 10rem !important;
    padding: 0px !important;
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
  }
  .fondoBlanco2 {
    height: 48vh !important;
    margin-top: 3rem;
    margin-right: 3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 126px 0px 91px 0px;
    -moz-border-radius: 126px 0px 91px 0px;
    -webkit-border-radius: 126px 0px 91px 0px;
    padding: 0px !important;
    -webkit-box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
    box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
  }
  .fondoAzul3 {
    height: 38vh !important;
    background-color: rgb(28, 169, 166);
    border-radius: 126px 0px 119px 0px;
    -moz-border-radius: 126px 0px 119px 0px;
    -webkit-border-radius: 126px 0px 119px 0px;
    border: 0px solid black;
    margin-top: 10rem !important;
    padding: 0px !important;
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
  }
  .fondoBlanco3 {
    height: 36vh !important;
    margin-top: 3rem;
    margin-right: 3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 126px 0px 91px 0px;
    -moz-border-radius: 126px 0px 91px 0px;
    -webkit-border-radius: 126px 0px 91px 0px;
    padding: 0px !important;
    -webkit-box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
    box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
  }
  .espaciosSearch {
    padding: 2rem !important;
    padding-left: 0rem !important;
  }
  .brand .b-search input[type="text"] {
    width: 110% !important;
    height: 35px !important;
    border-color: #ffffff;
    border-radius: 113px 113px 113px 113px;
    -moz-border-radius: 113px 113px 113px 113px;
    -webkit-border-radius: 113px 113px 113px 113px;
  }
  .spacecolbtnSearch {
    margin-top: 0rem !important;
  }
  .spacebtnSearch {
    margin-top: 2rem !important;
    margin-bottom: 2rem;
  }
  .mostrarServicio1 {
    top: -85rem !important;
    width: 45% !important;
    left: 10% !important;
    position: relative;
  }
  .spaceSubtituloServicioDeIngenieria {
    top: -95rem !important;
    width: 85%;
    left: 5%;
    right: 0%;
    position: relative;
  }
  .esquina2 {
    display: none;
  }
  .spaceSubtituloServicioDeAplicaciones {
    top: -120rem !important;
  }
  .mostrarServicio3 {
    top: -200rem !important;
    width: 35% !important;
    left: 15% !important;
    right: 0%;
    position: relative;
  }
  .rowContactos {
    margin-left: 20rem !important;
    margin-top: 2rem !important;
    max-width: 100%;
  }
  .contactosRedes {
    max-width: 100% !important;
    margin-right: 12rem !important;
  }
  .imagenEquipo {
    margin-left: 5rem;
    top: -8rem !important;
    width: 15rem !important;
  }
  .datosEquipo {
    padding: 0px !important;
    top: -10rem !important;
  }
  .bordesNuestroEquipo {
    margin-top: 2rem !important;
  }
}
@media (max-width: 768px) {
  .textInicio {
    font-family: "Poppins";
    font-weight: normal;
    font-style: normal;
    color: #7d7d82;
    font-size: 20px;
  }
  .textRepresentaciones {
    margin-top: 0rem !important;
    margin-left: 55rem;
  }
  .quienesSomos2 {
    background-image: url("../../assets/img/Elementos-08.svg");
    margin-top: 0rem !important;
    background-size: 40%;
    background-position: 95% 100%;
    background-repeat: no-repeat;
  }
  .col-mision {
    height: 90vh !important;
    width: 50vh;
  }
  .col-vision {
    height: 50vh;
    width: 50vh;
  }
  .fondoAzul2 {
    height: 47vh !important;
    background-color: rgb(28, 169, 166);
    border-radius: 126px 0px 119px 0px;
    -moz-border-radius: 126px 0px 119px 0px;
    -webkit-border-radius: 126px 0px 119px 0px;
    border: 0px solid black;
    margin-top: 10rem !important;
    padding: 0px !important;
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
  }
  .fondoBlanco2 {
    height: 45vh !important;
    margin-top: 3rem;
    margin-right: 3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 126px 0px 91px 0px;
    -moz-border-radius: 126px 0px 91px 0px;
    -webkit-border-radius: 126px 0px 91px 0px;
    padding: 0px !important;
    -webkit-box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
    box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
  }
  .fondoAzul3 {
    height: 37vh !important;
    background-color: rgb(28, 169, 166);
    border-radius: 126px 0px 119px 0px;
    -moz-border-radius: 126px 0px 119px 0px;
    -webkit-border-radius: 126px 0px 119px 0px;
    border: 0px solid black;
    margin-top: 10rem !important;
    padding: 0px !important;
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
  }
  .fondoBlanco3 {
    height: 35vh !important;
    margin-top: 3rem;
    margin-right: 3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 126px 0px 91px 0px;
    -moz-border-radius: 126px 0px 91px 0px;
    -webkit-border-radius: 126px 0px 91px 0px;
    padding: 0px !important;
    -webkit-box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
    box-shadow: -4px 14px 8px 0px rgba(0, 0, 0, 0.15);
  }
  .espaciosSearch {
    padding: 2rem !important;
    padding-left: 0rem !important;
  }
  .brand .b-search input[type="text"] {
    width: 110% !important;
    height: 35px !important;
    border-color: #ffffff;
    border-radius: 113px 113px 113px 113px;
    -moz-border-radius: 113px 113px 113px 113px;
    -webkit-border-radius: 113px 113px 113px 113px;
  }
  .spacecolbtnSearch {
    margin-top: 0rem !important;
  }
  .spacebtnSearch {
    margin-top: 2rem !important;
    margin-bottom: 2rem;
  }
  .productos {
    margin-top: 0rem !important;
    max-width: 98% !important;
    margin-left: 1rem;
  }
  .modal-dialog {
    /* max-width: 30% !important; */
  }
  /* .imgProd {
    margin-left: 0rem !important;
    width: 500px !important;
  } */
  .empresas {
    margin-top: 1rem !important;
    margin-bottom: 2rem !important;
    width: 10%;
    margin-left: 3.5rem;
  }
  .serviciosContenidoRow {
    margin-top: 0rem !important;
    max-width: 100%;
  }
  .subtitutuloServicio3 {
    font-family: "Nobile";
    font-weight: bold;
    font-style: normal;
    font-size: 4.3rem;
    color: black;
    margin-left: 8rem !important;
    text-align: center;
    top: 2.5rem !important;
  }
  .mostrarServicio3 {
    display: none;
  }
  .mostrarServicio4 {
    top: -150rem !important;
    width: 45%;
    left: 33%;
    right: 0%;
    position: relative;
  }
  .spaceSubtituloServicioDeAplicaciones {
    top: -50rem !important;
  }
  .btnleermas {
    height: 15rem !important;
  }
  .mostrarServicio2 {
    z-index: 20000 !important;
    width: 45% !important;
    left: 30% !important;
    top: -58rem !important;
    position: relative;
  }
  .mostrarServicio1 {
    display: none;
  }
  .spaceSubtituloServicioDeIngenieria {
    top: -50rem !important;
  }
  .esquina2 {
    display: none;
  }
  .direcciones {
    padding: none;
    top: -8rem !important;
    margin-left: 15rem;
  }
  .direcciones2 {
    padding: none;
    text-align: left;
    top: -8rem !important;
    margin-left: 26.5rem;
  }
  .contactosRedes {
    max-width: 100% !important;
    margin-right: 12rem !important;
  }
  .imagenEquipo {
    margin-left: 5rem;
    top: -8rem !important;
    width: 15rem !important;
  }
  .datosEquipo {
    padding: 0px !important;
    top: -10rem !important;
  }
  .bordesNuestroEquipo {
    margin-top: 2rem !important;
  }
  .fondo-nikola {
    max-width: 100%;
    margin: 0 auto;
    background-color: rgb(28, 169, 166);
  }
  .nosotrosFooter {
    margin-left: 3rem !important;
  }
}
@media (max-width: 576px) {
}
@media (max-width: 500px) {
}
@media (max-width: 414px) {
  .mostrar7 {
    margin-top: 4rem;
    width: 30rem !important;
    height: 15rem !important;
    position: relative;
    background: rgb(28, 169, 166);
    left: 8rem !important;
  }
  .rectanguloAzulfb {
    margin-left: 0rem !important;
    align-items: left !important;
    text-align: left !important;
  }
}
@media (max-width: 360px) {
}
@media (max-width: 300px) {
}

#myCarousel{
 margin-top: 5%;
 height: 700px !important;
}

.redux-img{
  height: 700px !important;
  width: 1800px !important;
}

body{
  background-color: #000000 !important;
}

mat-dialog-container{
  background: rgb(174,134,37) !important;
  background: linear-gradient(180deg, rgba(174,134,37,1) 0%, rgba(247,239,138,1) 33%, rgba(210,172,71,1) 81%) !important;
  /* Other CSS Styles */
}
